@using Sourceiran_MVC.Models.Repository
@using Sourceiran_MVC.Models.Domains
@model IEnumerable<Tbl_Products>
@{ RepositoryIndex Rep_ProductVisitAuction = new RepositoryIndex();

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="heading-title heading-border-bottom heading-color">
            <h1 class="size-17 margin-bottom-10">
                محصولات پر بازدید مزایده ای
            </h1>
        </div>
        <ul class="shop-item-list row list-inline nomargin">


            @{
                foreach (var item in Rep_ProductVisitAuction.GetProductVisitAuction())
                {

                    if (item.AuctionDate != null)
                    {
                        <li class="col-lg-3 col-sm-3">
                            <div class="shop-item">
                                <div class="thumbnail">
                                    <a href="/Home/Product?id=@item.ID" class="shop-item-image">
                                        <img src="/Content/images/PicProduct/@item.ImageIndex" alt="@item.Title" class="img-responsive" />
                                    </a>

                                    @if (item.AuctionDate != null)
                                    {
                                        <div class="ribbon">
                                            <div class="ribbon-inner">
                                                <span>
                                                    @*@(item.AuctionDate==null ? "فروش عادی" : "فروش مزایده ای")*@
                                                    <span>مزایده ای</span>
                                                </span>
                                            </div>
                                        </div>
                                    }

                                    <div class="shop-option-over">
                                        <a href="/Home/Product?id=@item.ID" class="btn btn-default" onclick="" data-item-id="" data-toggle="tooltip" title="" data-original-title="مقایسه کن" aria-describedby="tooltip527807">
                                            <i class="fa fa-bar-chart-o nomargin" data-toggle="tooltip"></i>
                                        </a>
                                    </div>

                                    <div class="shop-item-footer">
                                        <div class="shop-item-title">
                                            <span>
                                                <a href="#" class="black">
                                                    @item.Title
                                                </a>
                                            </span>
                                            <br />
                                            <span>تعداد بازدید : @item.Visit</span>
                                        </div>

                                        <div class="shop-item-price">
                                            <span class="red">@item.Description</span><br />
                                            <span class="price green">@item.Price تومان</span>
                                            <a href="/Home/Product?id=@item.ID" class="fa fa-shopping-cart pull-right green" data-toggle="tooltip" data-original-title="خرید"></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            }

        </ul>

    </div>

}
