@model IEnumerable<Sourceiran_MVC.Models.Domains.Tbl_Sales>

@{
    ViewBag.Title = "تاریخچه خریدها";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<section class="nopadding-bottom padding-top-10 noborder-bottom">
    <div class="container">
        <div class="row">

            @{
                if (Model != null)
                {
                    <div class="well" style="background-color:#fff;">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductID)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.TransNo)
                                    </th>

                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tbl_Products.Title)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price) (تومان)
                                        </td>
                                        <td>
                                            @{
                                                UtilityFunction u = new UtilityFunction();
                                            }
                                            @u.Shamsi(item.Date).ToShortDateString()
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tbl_Status.Title)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransNo)
                                        </td>


                                        <td>
                                            @Html.ActionLink("جزئیات خرید محصول", "DetailsBuy", new { id = item.ID }, new { @class = "btn btn-info btn-xs" })
                                        </td>
                                    </tr>
                                }

                            </table>
                            @Html.ActionLink("بازگشت", "Index", "User", new { }, new { @class = "btn btn-warning" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="well" style="height:270px;background-color:#fff;">
                        <div style="@ViewBag.Style" class="@ViewBag.Class">
                            @if (ViewBag.Style != null)
                            {
                                <button type="button" class="close" data-dismiss="alert">×</button>
                            }

                            @Html.Raw(ViewBag.Message)
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>